* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Noto Sans', sans-serif;
    --primary-bg-color: #e2e8f0;
    --secondary-bg-color: #f8fafc;
    --primary-txt-color: #020617;
    --secondary-txt-color: #1e293b;
    --primary-border-color: #94a3b8;
    --focus-border-color: #334155;
    --invalid-color: #ef4444;
    --valid-color: #22c55e;
    --btn-bg-disabled-color: #e2e8f0;
    --btn-txt-disabled-color: #64748b;
    --btn-bg-enabled-color: #bae6fd;
    --btn-bg-enabled-color-hover: #7dd3fc;
    --box-shadow: 4px 8px 10px 0px rgba(1, 1, 1, 0.1)
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    font-family: var(--font-family);
    font-size: 16px;
}

h3 {
    width: 100%;
    font-size: 1.4rem;
    padding-bottom: 8px;
    text-align: center;
    border-bottom: 2px solid var(--primary-bg-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 48px;
    border-radius: 16px;
    background-color: var(--secondary-bg-color);
    box-shadow: var(--box-shadow);
}

form ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

form ul li {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

label {
    font-size: 0.8rem;
    color: var(--secondary-txt-color);
    position: relative;
}

label::before {
    content: "*";
    color: var(--invalid-color);
    position: absolute;
    top: -2px;
    left: -8px;
}

input, select {
    padding: 4px;
    border-radius: 4px;
    outline: none;
    height: 2rem;
    color: var(--secondary-txt-color);
    border: 2px solid var(--primary-border-color);
}

select {
    font-family: var(--font-family);
}

input:valid, select:valid {
    border-color: var(--valid-color);
}

input:invalid, select:invalid{
    border-color: var(--invalid-color);
}

.msg {
    height: 1.2rem;
    font-size: 0.8rem;
    align-self: end;
    /* flex-grow: 1; */
}

.msg.valid {
    color: var(--valid-color);
}

.msg.invalid {
    color: var(--invalid-color);
}

.additional-errors-container {
    gap: 2px;
}

.additional-errors-container .msg {
    display: none;
}

.additional-errors-container .msg.invalid {
    display: block;
}

button {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 16px;
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
}

button:disabled {
    background-color: var(--btn-bg-disabled-color);
    color: var(--btn-txt-disabled-color);
}

button:enabled {
    background-color: var(--btn-bg-enabled-color);
    color: var(--secondary-txt-color);
}

button:enabled:hover {
    background-color: var(--btn-bg-enabled-color-hover);
    cursor: pointer;
}